/*PÁGINA 3*/
.background__pagina3 {
    position: fixed;
    z-index: -1; }
  

.bienvenida__parrafo {
    font-size: 0.6em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
  
  
.footer3 p {
  @extend .bienvenida__parrafo;
  margin-bottom: 0;
  text-align: center;
}