/*PAGINA 4*/

  .disfruta__contenido {
    margin-top: 1rem;
    font-size: 1em;
    display:flex;
    justify-content: center;
  }
  
  .secciones__pagina4 {
    display:flex;
    justify-content: space-around;
    margin-top: 1.5rem;
  }
  
  .ir__tienda__container {
    background: url(./Fotos/background-boton-tienda.jpg);
    width: 600px;
    height: 300px;
    align-items: center;
        & .ir__tienda {
            width: 600px;
            height: 300px;
            display:flex;
            justify-content: center;
            align-items: center;
            color: $colorprincipal;
          }
        
        & .ir__tienda:hover {
            color: grey;
        }  
        
}  
  
  .ir__datoscuriosos__container {
    background: url(./Fotos/background-impulsatuvida.jpg);
    @extend .ir__tienda__container;
        & .ir__datoscuriosos{
            @extend .ir__tienda;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        & .ir__datoscuriosos:hover {
            color: grey;
        }
  }

  .footer4 p {
    display:flex;
    justify-content: center;
    font-size: 0.8em;
    margin-top: 1rem;
  }
  