$colorprincipal: #fff980 !default;
$colorsecundario: black !default;
$redes: (
    instagram: rgb(240, 70, 189),
    twitter: rgb(74, 195, 199),
    correo: rgb(161, 23, 30),
    background: rgb(37, 37, 37)
);
