/*PÁGINA 5*/
.background5 {
    position:fixed;
    z-index: -1;
  }
  
  .adelanto__nuestra__tienda {
    font-size: 1.5em;
    display:flex;
    justify-content:center;
    margin-bottom: 1rem;
  }

