@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/*PAGINA INDEX*/
.video__grid {
  position: fixed;
  z-index: -100; }

.logo__index {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin-bottom: 1rem; }

.button {
  position: relative;
  height: 70px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif; }
  .button:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite; }
  .button:hover:before {
    opacity: 1; }
  .button:hover:active {
    background: none; }
  .button:hover:active:before {
    filter: blur(2px); }
  .button:hover:active:before {
    filter: blur(2px); }

@keyframes animate {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

.navbar-item {
  display: flex;
  justify-content: space-between; }
  .navbar-item a {
    color: #fff980; }

.next__container {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 580px) {
  .main__logo {
    width: 100vw; } }

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  /*Para quitar subrayado de los textos de index*/ }

html {
  font-size: 62.5%;
  font-size: 2em;
  height: 100%;
  width: 100%; }

body a:hover {
  color: grey; }

/*PAGINA 2*/
.h2-s {
  position: relative;
  width: 100%;
  font-size: 5vw;
  color: black;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below -30px linear-gradient(transparent #5f5f5f); }
  .h2-s span {
    animation: flashing 3s linear infinite; }
  .h2-s span:nth-child(even) {
    animation-delay: 0.2s; }

@keyframes flashing {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: black;
    text-shadow: none; }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #dfdfdf;
    text-shadow: 0 0 10px #ececec, 0 0 20px #ececec, 0 0 40px #ececec, 0 0 80px #ececec, 0 0 160px #ececec, 0 0 400px #ececec; } }

.redes__container {
  display: flex;
  align-content: center; }
  .redes__container .red {
    text-decoration: none; }
  .redes__container .instagram:hover {
    color: #f046bd;
    background-color: #252525;
    border-radius: 10px; }
  .redes__container .twitter:hover {
    color: #4ac3c7;
    background-color: #252525;
    border-radius: 10px; }
  .redes__container .correo:hover {
    color: #a1171e;
    background-color: #252525;
    border-radius: 10px; }

.background__pagina2 {
  position: fixed;
  z-index: -1; }

.quienes__somos, .quienes__somos .quienes__somos__titulo, .quienes__somos .quienes__somos__parrafo, .quienes__somos div .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2rem; }
  .quienes__somos .quienes__somos__titulo, .quienes__somos div .container .quienes__somos__titulo, .quienes__somos .quienes__somos__parrafo, .quienes__somos div .container .quienes__somos__parrafo {
    font-size: 2em; }
  .quienes__somos .quienes__somos__parrafo, .quienes__somos div .container .quienes__somos__parrafo {
    font-size: 0.8em; }

.contacto__container {
  border: 8px double #414141;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px; }
  .contacto__container.__titulo {
    border: 8px double #414141;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    font-size: 2em; }
  .contacto__container.__parrafo {
    font-size: 1em; }

.redes {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 1rem;
  gap: 1.5em; }
  .redes .red {
    color: #fff980;
    text-decoration: none; }
  .redes .instagram:hover {
    background-color: #414141;
    border-radius: 5px;
    color: #f046bd; }
  .redes .twitter:hover {
    border-radius: 5px;
    background-color: #414141;
    color: #4ac3c7; }
  .redes .correo:hover {
    border-radius: 5px;
    background-color: #414141;
    color: #a1171e; }

.formulario__container {
  grid-area: formulario__container;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .formulario__container label, .formulario__container input, .formulario__container textarea {
    margin-top: 0.5rem; }
  .formulario__container.__parrafo {
    font-size: 0.5em; }

.nuestras__cedes {
  border: 8px double #414141;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 700px; }
  .nuestras__cedes .__titulo {
    font-size: 1.5em; }
  .nuestras__cedes .__parrafo {
    font-size: 1em; }

.pie__pagina2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pie__pagina2 .footer2 {
    font-size: 1em; }

/*PÁGINA 3*/
.background__pagina3 {
  position: fixed;
  z-index: -1; }

.bienvenida__parrafo, .footer3 p {
  font-size: 0.6em;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.footer3 p {
  margin-bottom: 0;
  text-align: center; }

/*PAGINA 4*/
.disfruta__contenido {
  margin-top: 1rem;
  font-size: 1em;
  display: flex;
  justify-content: center; }

.categorias-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em; }

.tienda-enlace, .datos-enlace, .acceder-tienda, .acceder-datos {
  text-decoration: none;
  color: #fff980; }
  .tienda-enlace:hover, .datos-enlace:hover, .acceder-tienda:hover, .acceder-datos:hover {
    color: grey; }

.footer4 p {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  margin-top: 1rem; }

/*PÁGINA 5*/
.background5 {
  position: fixed;
  z-index: -1; }

.adelanto__nuestra__tienda {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

/*PÁGINA 6*/
.background6 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; }

.introduccion {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

.parrafo__explicacion__seccion {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }

.links__materiales__titulo, .links__materiales__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em; }

.links__materiales__parrafo {
  font-size: 0.8em; }

.recomendaciones {
  font-size: 0.7em;
  text-align: center; }
